APPINSIGHTS_INSTRUMENTATIONKEY = xxxxx-xxxx-xxxxx-xxxx-xxxxxxxxxxxxxxxx
APPLICATIONINSIGHTS_CONNECTION_STRING = "InstrumentationKey=xxxxxx-xxxxxx-xxxxxx-xxxxxx-xxxxxxxxxxxxx;IngestionEndpoint=https://italynorth-0.in.applicationinsights.azure.com/;LiveEndpoint=https://italynorth.livediagnostics.monitor.azure.com/;ApplicationId=xxxxxxxxxxxxxx"
APPLICATIONINSIGHTS_LOG_DESTINATION = "file";
APPLICATIONINSIGHTS_LOGDIR = "/mielogs"